logs
build
core/__pycache__
cardashian.tar.gz
*.bin
.vscode



emuserialpc/emulogs
emuserialpc/build/
emuserialpc/emuserial
emuserialpc/emuserial_x86

smos/images
smos/configs/ssh
smos/configs/wpa_supplicant.conf